<%- partial('_partial/head') %>
<body>
  <div id="container">
    <%- partial('_partial/header') %>
    <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
  </div>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57791a9296b5772b"></script>

</body>
</html>
