<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
    <% if (!index) { %>
    <footer class="author-info clearfix">
      <img class="author-picture circle" src="<%- gravatar(config.author_email) %>">
      <div class="author-content right">
        <div class="author-caption">
          <span class="label">author</span>
          <%= config.author %>
        </div>
        <p class="author-description">
          東京大学大学院 情報理工学系研究科 電子情報学専攻 修士課程で並列分散処理・ストリーム処理・データベースを研究。<br>
          2014年4月に株式会社ディー・エヌ・エーにエンジニアスペシャリストとして入社し、ソーシャルゲームのサーバサイド共通基盤の開発に従事。<br>
          2016年8月より、オンライン証券会社<a href="https://folio-sec.com">株式会社FOLIO</a>に入社。バックエンドシステム開発・プロジェクトマネージメント・Engineering Managementに従事。<br>
        </p>
        <ul class="author-social-buttons">
          <li class="author-social-button"><a class="fa fa-lg fa-twitter-square" href="<%= config.author_twitter %>"></a></li>
          <li class="author-social-button"><a class="fa fa-lg fa-github-square" href="<%= config.author_github %>"></a></li>
          <li class="author-social-button"><a class="fa fa-lg fa-facebook-square" href="<%= config.author_facebook %>"></a></li>
        </ul>
      </div>
    </footer>
    <% } %>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">

  <!-- comment service provided by disqus -->
  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        this.page.url = <%= post.permalink %>;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = <%= post.permalink %>; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//laysakura.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
